.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 100%;
  position: relative;
}

.text {
  margin: 1rem;
  h1 {
    background: linear-gradient(90deg, #069, #096);
    background-clip: text;
    color: transparent;
  }
}

.btn {
  margin-top: 1rem;
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  background: linear-gradient(90deg, #069, #096);
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.btn.reset {
  position: absolute;
  bottom: 20%;
}
